<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--写sql语句-->
<!--namespace命名空间是为了区分不同的select id语句
方便在sqlMapConfig中有多个不同mapper内部大sql语句id冲突-->
<mapper namespace="com.itcast.mybatis.mapper.CategoryMapper">

    <!--通过id查询category-->
    <select id="findCategoryById" parameterType="java.lang.String" resultType="Category">
        select * from category where cid = #{id}
    </select>

    <!--根据category名称模糊查询category列表-->
    <!--  #{} select * from category where cid = ? 占位符-->
    <!--  ${} select * from category where cname like '%${value}%'  字符串拼接-->
    <!--      select * from category where cname like "%"#{value}"%"        -->
    <select id="findCategoryBycname" parameterType="String" resultType="Category">
        select * from category where cname like "%"#{value}"%"
    </select>

    <!--添加category-->
    <insert id="addCategory" parameterType="Category" >
        <!-- 可以获取自增键 -->
        <!--<selectKey keyProperty="cid" resultType="Integer" order="AFTER">select LAST_INSERT_ID()</selectKey>-->
        insert into category (cid,cname) values (#{cid},#{cname})
    </insert>

    <!--修改category-->
    <update id="updateCategoryByCid" parameterType="Category">
        update category
        set cname = #{cname}
        where cid = #{cid}
    </update>

    <!--删除category-->
    <update id="deleteCategory" parameterType="String">
        delete from category
        where cid = #{cid}
    </update>

    <!--根据用户名模糊查询 封装自定义的包装类-->
    <select id="findCategoryByQueryVo" parameterType="com.itcast.mybatis.pojo.QueryVo" resultType="com.itcast.mybatis.pojo.Category" >
        select * from category where cname like "%"#{category.cname}"%"
    </select>

    <!--查询category记录条数-->
    <select id="countCategory" resultType="Integer" >
        select count(*) from category;
    </select>


</mapper>