<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--写sql语句-->
<!--namespace命名空间是为了区分不同的select id语句
方便在sqlMapConfig中有多个不同mapper内部大sql语句id冲突-->
<mapper namespace="com.itcast.mybatis.mapper.OrderMapper">

    <!--查询订单所有数据-->
    <!--对象属性字段与数据库不一致时 无法进行自动转换 需要使用resultMap-->
    <!--<select id="selectOrdersList" resultType="com.itcast.mybatis.pojo.Orders" >-->
    <resultMap id="OrderWrapper" type="com.itcast.mybatis.pojo.Orders" >
        <!--对象标识属性 id 一般为主键-->
        <!--jdbcType类型需要大写 org.apache.ibatis.type.JdbcType枚举类中列出的类型-->
        <id column="oid" property="oid" javaType="String" jdbcType="VARCHAR" />
        <!--普通属性 可以只设置不一致的属性映射 -->
        <result column="ordertime" property="otime" />
        <!--<result column="total" property="total" />-->
        <!--<result column="state" property="state" />-->
        <!--<result column="address" property="address" />-->
        <!--<result column="name" property="name" />-->
        <result column="telephone" property="tel" />
        <!--<result column="uid" property="uid" />-->
    </resultMap>
    <select id="selectOrdersList" resultMap="OrderWrapper" >
        select oid, ordertime, total, state, address, name, telephone, uid from orders
    </select>



</mapper>